# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf

# PROS
# bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/

# Direnv state
.direnv/

result
rpi-test
key.txt
nixos-anywhere-extras
